<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
      <th scope="col">Senha</th>
    </tr>
  </thead>
  <tbody>
    <% let i; for (i = 0; i < dados.length; i++) { %>
    <tr
      class="<%= dados[i].username == req.session.username ? 'destaque' : '' %>"
    >
      <th><%= dados[i].id %></th>
      <th><%= dados[i].username %></th>
      <th><%= dados[i].email %></th>
      <th><%= dados[i].celular %></th>
      <th><%= dados[i].password %></th>
    </tr>
    <% } %>
    <tfoot>
      <tr>
        <th colspan="5"><%= `Usuários Registrados : ${i}`%></th>
      </tr>
    </tfoot>
  </tbody>
</table>
